<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
	<script src="/static/script.js"></script>
    <title>Activity Tracker</title>
</head>
<body>
    <div class="user-profile">
        <img src="{{ url_for('static', filename='images/user.png') }}" alt="User Avatar">
        
        <h2>{{ user.name }}</h2>
        <form method="POST" action="{{ url_for('logout') }}">
            <button type="submit">Logout</button>
        </form>
            <button onclick="confirmDelete()" type="submit">Delete Account</button>
        
    </div>
    <div class="container">
        <h1>Activity Tracker Dashboard</h1>
        <div class="add-task">   
            <form method="POST" action="{{ url_for('add_task') }}">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
                <br>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" required>
                <br>
                <button type="submit">Add task</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Date Created</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{task.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</td>
                
                    <td>{{ task.status.value }}</td>
                    <td><a href="{{ url_for('view_task', task_id=task.id) }}">View</a></td>




                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
	 
</body>
</html>
