<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
		<h1>Activity Tracker Dashboard</h1>
		<p>Welcome, {{ user.name }}!</p>
		<table>
			<thead>
				<tr>
					<th>Task Name</th>
					<th>Description</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for task in tasks %}
				<tr>
					<td>{{ task.name }}</td>
					<td>{{ task.description }}</td>
					<td>{{ task.status }}</td>
					<td><a href="{{ url_for('task_details', task_id=task.id) }}">Details</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="add-task">
			<a href="{{ url_for('add_task') }}">Add Task</a>
		</div>
	</div>
</body>
</html>