<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}">
    <script src="/static/script.js"></script>
    <title>Task Details</title>
</head>
<body>
   <div class="task-info">
        <h1>{{ task.title }}</h1>
        <p>{{ task.description }}</p>
        <p>Status: {{ task.status.value }}</p>
        <p>Created at: {{task.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</p>
        <p>Last Updated: {{task.updated_at.strftime("%Y-%m-%d %H:%M:%S")}}</p>
   </div> 

    <div class="button-group">
        <form method="POST" action="{{ url_for('delete_task', task_id=task.id) }}">
            <button class="delete" type="submit">Delete</button>
        </form>
        <form method="POST" action="{{ url_for('update_status', task_id=task.id) }}">
            <input type="hidden" name="status" value="IN_PROGRESS">
            <button class="in-progress" type="submit">Mark in-progress</button>
        </form>
        <form method="POST" action="{{ url_for('update_status', task_id=task.id) }}">
            <input type="hidden" name="status" value="DONE">
            <button class="done" type="submit">Mark as Done</button>
        </form>
    </div>
    
    <a href="{{ url_for('index') }}">Back to Dashboard</a>
    
</body>
</html>
